:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --main-color-black: #212121;
  --bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --main-color-white: #fff;
  --bg-button: #f5f4fa;
  --border-bottom-color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--main-color-white);
}

/* шапка сайта*/
header {
  border-bottom: 1px solid var(--border-bottom-color);
}
.page-header {
  display: flex;
  align-items: center;
}
/* логотип */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 215px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* цвет второй части логотипа в шапке сайта */
.header-logo {
  color: var(--main-color-black);
}

/* навигация в шапке сайта */
.list {
  list-style: none;
}

.site-nav {
  display: flex;
}
.nav-list {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-color-black);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* контакты в шапке сайта */
.contact {
  margin-right: 215px;
  margin-left: auto;
}

.contact-header {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-header + .contact-header {
  margin-left: 50px;
}

.contact-header:hover,
.contact-header:focus {
  color: var(--accent-color);
}

/* футер сайта */
footer {
  background-color: var(--bg-color);
}
.logo-link {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/* цвет второй части логотипа в подвале сайта */
.footer-logo {
  color: var(--main-color-white);
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 215px;
}

/* адрес в подвале сайта */
address {
  font-style: normal;
  padding-left: 215px;
  padding-bottom: 60px;
}

.footer-address {
  padding-bottom: 9px;
  color: var(--main-color-white);
}

/* контакты в подвале сайта */
.contact-footer {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-footer:not(:last-child) {
  padding-bottom: 9px;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* css для сайта СТУДИЯ */

/* секция герой */
.hero {
  text-align: center;
  background-color: var(--bg-color);
}

/* заголовок секции герой */
.hero-title {
  padding-top: 215px;
  padding-bottom: 30px;
  color: var(--main-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* text-align: center; */
  text-transform: uppercase;
}

/* кнопка секции герой */
.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  margin-bottom: 200px;

  color: var(--main-color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);

  cursor: pointer;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* секция наши преимущества "advantages"*/
.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  justify-content: center;
}

.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  padding-bottom: 10px;

  color: var(--main-color-black);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* секция work*/
.work-list {
  /* margin-top: 50px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-title {
  padding-bottom: 50px;
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* секция command */
.command {
  background-color: var(--section-bg-color);
}

/* заговок секции command */
.command-title {
  padding-bottom: 50px;

  color: var(--main-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* имя членов команды */
.command-name {
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--main-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
.command-item {
  background-color: var(--main-color-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

/* професия членов команды */
.command-job {
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* CSS для сайта ПОРТФОЛИО */
/* кнопки фильтра */
.filter-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 30px;
}

.btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  color: var(--main-color-black);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  background-color: var(--bg-button);

  cursor: pointer;

  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-color-white);
}

/*  примеры работ */
.example-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.example-item {
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.example-item:nth-child(3n) {
  margin-right: 0px;
}

.example-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.example-name {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;

  color: var(--main-color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-link {
  text-decoration: none;
}

/* вид работы */
.exmple-job-name {
  padding-left: 24px;
  padding-bottom: 20px;

  color: var(--main-color);
  font-size: 16px;
  line-height: 1.88;
}
