:root {
  --main-color: #434455;
  --accent-color: #404bbf;
  --main-color-black: #2e2f42;
  --bg-color: #2e2f42;
  --white-color: #ffffff;
  --section-bg-color: #f4f4fd;
  --bg-button: #4d5ae5;
  --header-accent: #4d5ae5;
  --animation: 0.3s cubic-bezier(0.42, 0, 0.58, 1);

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.logo {
  color: var(--header-accent);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

/* ================= HEADER ================= */

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

header .container {
  display: flex;
  align-items: center;
}

.header__logo-accent {
  color: var(--main-color-black);
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav .logo {
  margin-right: 76px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu-link {
  padding: 24px 0;

  color: var(--main-color-black);
  font-weight: 500;
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--accent-color);
}

.header__contacts {
  margin-left: auto;
}

.header__contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__contacts-link {
  padding: 24px 0;
  color: var(--main-color);
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

/* ================= HERO ================= */

.hero {
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--bg-color);
  text-align: center;
}

.hero__title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero__button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: var(--bg-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--accent-color);
}

/* ================= FEATURURES ================= */

.features__title {
  color: var(--main-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.features__list {
  display: flex;
  gap: 24px;
}

.features__item {
  flex-basis: 264px;
}

.features__subtitle {
  margin-bottom: 8px;
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ================= OUR TEAM ================= */

.team {
  background-color: var(--section-bg-color);
}

.team__title {
  margin-bottom: 72px;

  color: var(--main-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team__list {
  display: flex;
  gap: 24px;
}

.team__item {
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team__item-body {
  padding: 32px 0;
}

.team__name {
  margin-bottom: 8px;
  text-align: center;
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team__position {
  text-align: center;
}

/* ================= PORTFOLIO ================= */

.portfolio__title {
  margin-bottom: 72px;

  color: var(--main-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio__item-details {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio__name {
  margin-bottom: 8px;

  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ================= FOOTER ================= */

.footer {
  padding: 100px 0;
  background-color: var(--bg-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__logo-accent {
  color: #f4f4fd;
}

.footer__text {
  max-width: 264px;
  color: #f4f4fd;
}
