:root {
  --main-color: #434455;
  --accent-color: #404bbf;
  --main-color-black: #2e2f42;
  --bg-color: #2e2f42;
  --main-color-white: #ffffff;
  --section-bg-color: #f4f4fd;
  --bg-button: #4d5ae5;
  --header-accent: #4d5ae5;
  --animation: 0.3ms cubic-bezier(0.42, 0, 0.58, 1);
}

body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--main-color-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--header-accent);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ================= HEADER ================= */

.header__logo-accent {
  color: var(--main-color-black);
}

.header__menu-link {
  color: var(--main-color-black);
  font-weight: 500;
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--accent-color);
}

.header__contacts-link {
  color: var(--main-color);
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

/* ================= HERO ================= */

.hero {
  background-color: var(--bg-color);
}

.hero__title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero__button {
  color: var(--main-color-white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: var(--bg-button);
  border: none;
  cursor: pointer;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--accent-color);
}

/* ================= FEATURURES ================= */

.features__title {
  color: var(--main-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.features__subtitle {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ================= OUR TEAM ================= */

.team {
  background-color: var(--section-bg-color);
}

.team__item {
  background-color: #ffffff;
}

.team__title {
  color: var(--main-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team__name {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ================= PORTFOLIO ================= */

.portfolio__title {
  color: var(--main-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.portfolio__name {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ================= FOOTER ================= */

.footer {
  background-color: var(--bg-color);
}

.footer__logo-accent {
  color: #f4f4fd;
}

.footer__text {
  color: #f4f4fd;
}
